.contaner{
    height: 50px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    margin-top: 1%;
    padding-bottom: 40%;
}
.box1{
    height: 50px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.253) ;
    margin: 20px;
    border-radius: 10px;
    padding-top: 10px;
}
.task{
    margin: 20px;
}
.task0{
    font-size: 30px;

}
.task1{
 font-size: 25px;
 font-family: 'Courier New', Courier, monospace;
}
.pravin{
    height: 650px;
    border: 1px solid;
    display: flex;
    text-align: center;
    justify-content: center;
}
.contaner1{
         height: 350px;
         width: 250px;
         border: 1px solid rgba(0, 0, 0, 0.144);
         margin-top: 15%; 
}
.contant1{
padding-top: 20px;
margin-left: 20px;
   
}
.square{
    height: 200px;
    width: 150px;
    border: 1px solid red;
    margin: 20px;
    border-radius: 10px;
    padding-left: 30px;
   line-height: 30px;
   padding-top: 20px;
   color: red;
   margin-left: 35px;
    
}
.c2{
   font-size: 30px;
}
.fa{
     margin-top: 50%;
     color: rgb(255, 0,0);
    
}
.fas{
    color: red;
}
.p1{
    filter: blur(3px);
}
.n{
    height: 200px;
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 100px;
    position: absolute;
    bottom: 35%;
    margin-left: 5%;
    text-align: center;
    line-height: 80px;
    color: red;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
}
#n1{
    height: 30px;
    width: 200px;
    border: 1px solid red;
    margin-left: 50px;
}
button{
    border-radius: 50px;
    border: 1px red;
    height: 30px;
    width: 80px;
    background-color: rgba(255, 0, 0, 0.671);
}



